/* TODO need to be removed */

@font-face {
    font-family: 'FranklinBook';
    src: url('/++theme++plonetheme.hetpark/fonts/ITCFranklinGothicStd-Book.eot'),
         url('/intk/images/itcfranklingothicstd-book.woff') format('woff'),
         url('/++theme++plonetheme.hetpark/fonts/ITCFranklinGothicStd-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FranklinDmCp';
    src: url('/++theme++plonetheme.hetpark/fonts/ITCFranklinGothicStd-DmCp.eot'),
         url('/intk/images/itcfranklingothicstd-dmcp.woff') format('woff'),
         url('/++theme++plonetheme.hetpark/fonts/ITCFranklinGothicStd-DmCp.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FranklinMed';
    src: url('/++theme++plonetheme.hetpark/fonts/ITCFranklinGothicStd-Med.eot'),
         url('/intk/images/itcfranklingothicstd-med.woff') format('woff'),
         url('/++theme++plonetheme.hetpark/fonts/ITCFranklinGothicStd-Med.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.FranklinBook() {
    font-family: 'FranklinBook', Arial, sans-serif;
}

.FranklinDmCp() {
    font-family: 'FranklinDmCp', Arial, sans-serif;
}

.FranklinMed() {
    font-family: 'FranklinMed', Arial, sans-serif;
}

.backendFont() {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}



/* NEW fonts */
@font-face {
    font-family: 'FuturaBold';
    src: url('/++theme++plonetheme.hetpark/fonts/FuturaPT-Bold.eot');
    src: url('/++theme++plonetheme.hetpark/fonts/FuturaPT-Bold.eot?#iefix') format("embedded-opentype"),
         url('/++theme++plonetheme.hetpark/fonts/FuturaPT-Bold.woff') format("woff"),
         url('/++theme++plonetheme.hetpark/fonts/FuturaPT-Bold.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaBold';
    src: url('/++theme++plonetheme.hetpark/fonts/HelveticaNeue-Bold.eot');
    src: url('/++theme++plonetheme.hetpark/fonts/HelveticaNeue-Bold.eot?#iefix') format("embedded-opentype"),
         url('/++theme++plonetheme.hetpark/fonts/HelveticaNeue-Bold.woff') format("woff"),
         url('/++theme++plonetheme.hetpark/fonts/HelveticaNeue-Bold.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaMedium';
    src: url('/++theme++plonetheme.hetpark/fonts/HelveticaNeue-Medium.eot');
    src: url('/++theme++plonetheme.hetpark/fonts/HelveticaNeue-Medium.eot?#iefix') format("embedded-opentype"),
         url('/++theme++plonetheme.hetpark/fonts/HelveticaNeue-Medium.woff') format("woff"),
         url('/++theme++plonetheme.hetpark/fonts/HelveticaNeue-Medium.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaRegular';
    src: url('/++theme++plonetheme.hetpark/fonts/HelveticaNeue-Regular.eot');
    src: url('/++theme++plonetheme.hetpark/fonts/HelveticaNeue-Regular.eot?#iefix') format("embedded-opentype"),
         url('/++theme++plonetheme.hetpark/fonts/HelveticaNeue-Regular.woff') format("woff"),
         url('/++theme++plonetheme.hetpark/fonts/HelveticaNeue-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Fonts variables */
.FuturaBold() {
    font-family: 'FuturaBold', 'Futura', Arial, sans-serif;
}

.HelveticaBold() {
    font-family: 'HelveticaBold', Helvetica, Arial, sans-serif;
}

.HelveticaMedium() {
    font-family: 'HelveticaMedium', Helvetica, Arial, sans-serif;
}

.HelveticaRegular() {
    font-family: 'HelveticaRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
}



/* Colors */

/* Primary colors */
@primary-light: #BC443B;
@primary-med: #B02318;
@primary-dark: #8E1D15;

/* Secondary */
@secondary-light: #556FA2;
@secondary-med: #375692;
@secondary-dark: #304BB7F;

/* Grey colors */
@grey-light: #FFFFFF;
@grey-med: #F6F6F6;
@grey-dark: #E0E0E0;

/* Grey colors secondary */
@grey-secondary-light: #8A8A8A;
@grey-secondary-med: #4E4E4E;
@grey-secondary-dark: #000000;


/* TODO need to be removed */
@brand-primary: #282931;
@brand-primary-titles: #282931;
@brand-primary-text: #494A51;
@brand-primary-lines: #EAEAEA;

@gray-dark: lighten(black, 25%);
@gray: lighten(black, 50%);
@white-faded: fade(white, 80%);
@gray-light: #eee;


